[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-dotenv = "*"
django-cors-headers = "*"
dj-database-url = "*"
psycopg2 = "*"
asgiref = "*"
psycopg2-binary = "*"
sqlparse = "*"
gunicorn = "*"
djangorestframework-simplejwt = "*"
timedelta = "*"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.10"
